h1{
  position: relative;
  left:7.5vw;
  font-family: pacifico;
  font-size:4vw;
  color:  #DD2D4A;
}
body{
  background-color: #D4B483;
}
/*sidenavbar styling */
.sidenavbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15vw;
  background-color: #C1666B;
  overflow-x: scroll;
  padding-top: 0.75vw;
  z-index: 1;
}

/* links and the dropdown button */
.sidenavbar a, .button {
  padding: 0.45vw 0.75vw 0.45vw 1.5vw;
  text-align: left;
  width:100%;
  text-decoration: none;
  font-size: 2vw;
  color: #E4DFDA;
  display: block;
  border: none;
  font-family:sofia;
  background: none;
  cursor: pointer;
}

/*styling when mouse is over the element*/
.sidenavbar a:hover, .button:hover {
 color: #C49799;
 border: none;
}
/*dropdown styling*/
.dropdown{
  display: none;
  background-color:  #C1666B;
  color:  #D4B483;
  border: none;
  padding-left: 0.6vw;
}
.active {
  background-color:  #D4B483;
  color: #DD2D4A;
  border: none;
}
.about{
  position: relative;
  left:15vw;
  font-family: pacifico;
  font-size:2vw;
  max-width:75vw;
  z-index:0;
  color: #002E2C;
  display: block;
}

 /*styling images*/ 
}.images .ice{
	position:relative;
	left: 15vw;
	max-width: 75vw;
	width: 100%;
	margin: 5px;
	height: 700px;
}

/*.images .pizza{
	max-width:400px;;
	width: 100%;
	height: 350px;
	float: right;
}
.images .dish{
	float: right;
	max-width: 400px;
	width: 100%;
	height: 350px;
	display: block;
	
}*/
