body {
	color: #1c1a1a;
	overflow-x: hidden;
    /*background: #D4B483;*/
	background-image: url('images/pexels-juan-pablo-serrano-arenas-1242348.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100vw 100vh;	
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
	border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    /*background: #c29550;*/
	background-color: transparent;
    
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/*--------------------------------- SIDEBAR STYLE ----------------------------------------------------*/

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
	color: #21201e;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    /*background-color:  #c29550;*/
	background-color: rbg(0, 0, 0, 0.8);
	
	
    
	
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    /*background: #898989;*/
	background-color: transparent;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid black;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #898989;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #898989;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.feedback {
    background: #898989;
    color: #fff;
}





/* ---------------------------------------------------CONTENT STYLE---------------------------------------------------- */

.img-hover-zoom {
  overflow: hidden;
}


.img-hover-zoom img {
  transition: transform .4s ease;
}


.img-hover-zoom:hover img {
  transform: scale(1.4);
}
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}
h1{
  
  font-size:4vw;
  color:  #894747;
}
.about{
  
  font-size:2vw;
  max-width:75vw;
  z-index:0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.wrapper .sidebar-header img{
	max-width: 6vmax;
	width:100%;
	max-height: 6vmax;
	height: 100%;
}
.nav-link img{
	max-width: 3vmax;
	width:100%;
	max-height: 3vmax;
	height: 100%;	
}

.image-grid{
	overflow-x: hidden;
}
/* photos  */
.img-responsive {
	max-width: 24vw;
	width:100%;
	
	padding-top: 3vw;
	height: 25vw;
}
.larger .img-responsive {
	max-width: 30vw;
	width:100%;
	padding-top: 3vw;
	padding-bottom: 5vw;
	
	height: 30vw;
}

/*.tales {
  width: 80%;
}*/
/* carousel */
.carousel-inner{
  width:80%;
  height: 600px;
  margin: 0 auto;
  /*max-height: 70vmin !important;*/
}
.testimonial .carousel-inner{
  width:25%;
  height: 300px;
  margin: 0 auto;
  /*max-height: 70vmin !important;*/
}
.my-slider .carousel-indicators{
	top: 20px;
	
}
/* menu */
.menu{
	font-size: 20px;
	margin-top: 3vw 0;
	z-index:0;
	display: block;
	background-repeat: no-repeat;
	background-size:cover;
	color:  #585858;
	height: 1800px;
	width: 100%;
}
.menu h2{
	font-size: 60px;
	position: relative;
	
	top: 80px;
	font-family: pacifico;
	margin-bottom: 100px;
}

 li {
	font-family: pacifico;
	list-style-type:none;
	color:  #585858;
}
.menu .container .row {
	margin: 40px auto;
	}

.page-footer .container{
	background-color:#c29550;
	margin-top: 10vw;
}
.menu .container center img{
	height: 160px;
	position: relative;
	left: 100px;
	width: 220px;
	border-radius: 50%;
}

.testimonial {
	background-image: url("images/Highly textured “Portsmouth” background.jpg");
	background-size: cover;
	
}
 .img-impressive .black{
	margin:2vw 4vw;
}
.motivation {
  margin-top: 5vw;
  font-size:4vw;
  max-width:75vw;
  z-index:0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.page-footer{
	height: 50vmin;
	width: 70vw;
	margin: 5vmin auto;
	background-image: url("images/phpic.jpg");*/
	
}
.contact-us{
	float: left;
	height: 40vmin;
	margin: 0 auto;
	width:30vmin;
}
.location{
	float: right;
	height: 40vmin;
	margin: 0 auto;
	width:35vmin;
}
/* ---------------------------------------------------MEDIAQUERIES----------------------------------------------------- */
@media (max-width: 768px) {
	body{
		background-image: url("images/phpic.jpg");
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		width: 100%;
	}
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }file:///C:/Users/ADMIN/Desktop/Frontend-Bakery-or-Restaurant-GSBSP-BR12/images/italian.jpg
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
	h1{
	  
	  font-size:30px;
	  color:  #894747;
	}
	.about{
  
	  font-size:20px;
	  max-width:80vw;
	  z-index:1;
	  display: block;
	  margin: 10px auto;
	  
	}
	.about h2 center{
		font-size: 25px;
	}
	.menu{
	font-size:20px;
	margin-top: 10px auto;
	z-index:1;
	display: block;
	overflow-x: hidden;
	background-size: contain;
	}
	.menu h2 center{
		font-size: 25px;
	}
	
	.img-responsive {
	max-width: 250px;
	width:100%;
	max-height: 200px;
	padding-top: 3vw;
	height: 100%;
	}
	.larger .img-responsive {
		max-width: 250px;
		width:100%;
		padding-top: 3vw;
		padding-bottom: 5vw;
		max-height: 200px;
		height:100%;
	}
	.my-slider .carousel-inner{
	  width:100%;
	  margin: 5px auto;
	  height: 420px;
	  /*max-height: 70vmin !important;*/
	}
	.my-slider .carousel-item {
           height: 400px;
         }
	.my-slider .carousel-item img {
	    position: absolute;
	    top: 0;
	    left: 0;
	    min-height: 400px;
	}
	.my-slider .carousel-control-prev-icon, .my-slider .carousel-control-next-icon
	{
		bottom: 50%;
	}
	
	
	.testimonial .carousel-inner{
	  width:80%;
	  margin: 5px auto;
	  height: 300px;
	  /*max-height: 70vmin !important;*/
	}
	.motivation center{
		font-size: 25px;
	}
		

.menu-picture img{
	max-height: 200px;
	height: 100%;
	max-width: 200px;
	width: 100%;
	float : none;
	left: 50%;
	position:absolute;
}
.menu-content{
	margin: 10px auto;
	font-size:20px;
	float : none;
}
.menu-cuisine{
	height:500px;
	
}
.menu-cuisine h3 center{
	margin: 5px auto;
	font-size: 25px;
}

}
